

<div class="Page New" align="center">
	<h2> Add New Book</h2>

  <%= form_for(:books, url: {controller: "book",action:'create'}) do |t| %>  	
  <table summary="Book from fields">
  	<tr>
  		<th>Book Name:</th>
  		<td><%= t.text_field(:name)  %></td>
  	</tr>
  	<tr>
  		<th>Book Author:</th>
  		<td><%= t.text_field(:author)  %></td>
  	</tr>
  	<tr>
  		<th>Book Price:</th>
  		<td><%= t.text_field(:price)  %></td>
  	</tr>
  </table>
  <br>
  <br>

   <div class="form-button" align="center">
   	<%= submit_tag("Create Book") %>
   </div>
   <% end %>
 </div>